.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 8px;
}

.container {
  position: relative;
  padding: 8px;
}

.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-dot.green {
  background-color: green;
}

.status-dot.red {
  background-color: red;
}

img{
  width: 100%;
}