.sidebar {
  height: 100vh;           
  width: 205px;            
  position: fixed;         
  top: 10;
  left: 0;
  background-color: #333333;     
  overflow-x: hidden;      
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: left;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover:not(.active) {
  background-color: #111111;
}

.sidebar ul li a.active {
  background-color: #04AA6D;
}
