.sidebar {
  width: 205px;
  min-height: 100%;
  background-color: #333333;
  flex-shrink: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;  
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 14px 16px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover:not(.active) {
  background-color: #111111;
}

.sidebar ul li a.active {
  background-color: #04AA6D;
}